# Mac
.DS_Store

# Python
.ipynb_checkpoints

# Scala / Java
*.class
hs_err_pid*

# Package Files 
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# SBT
project/boot/
project/plugins/project/
dist/*
target/
bin/

# Intellij
*.log
*.iml
*.ipr
*.iws
.idea

# Test data
src/test/resources/pipeline_test/output/
